@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppons', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightyellow;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: cadetblue;
}
.nav{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    font-size: 1.1rem;
    fonyt-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;

}

.box{
    color:bisque;
    width: 30px;
    height: 30px;
    text-align: center;
    
    position: relative;

}
.cart-count{
    position: absolute;
    background-color: purple;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 99;
}
#cart-icon{
   
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
}
img{
    width: 100px;
}
.container{
    max-width: 1200px;
    padding: 4rem;
    margin: auto;
    width:100%;
} 
h2.title{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color:#ffffff;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax (220px,auto));
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}
.makeup-box{
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    border-radius: 3px;
}
.pic{
   overflow: hidden;
}
.pic:hover img{
 transform: scale(1.5);

}
.products-img{
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fir: cover;
}

.product-title{
    font-size: 1rem;
    font-weight: 600;
    color:aqua;
}
.food price{
    font-weight:500;
}
.add-cart{
    position: absolute; 
    bottom: 0;
    right: 0;
    background-color: aquamarine;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition:0.5s;
}
.add-cart:hover{
    background-color:  yellowgreen;
}
